@font-face {
	font-family: 'Manrope';
	font-weight: 400;
	src: local('Manrope'),
		url('./Manrope-Regular.ttf') , 
}
@font-face {
	font-family: 'Manrope';
	font-weight: 500;
	src: local('Manrope'),
		url('./Manrope-Regular.ttf') , 
}
@font-face {
	font-family: 'Manrope';
	font-weight: 600;
	src: local('Manrope'),
		url('./Manrope-Regular.ttf'), 
}